# SF Bike Rentals

In [ ]:
%%capture
%pip install google-cloud-bigquery bokeh
%load_ext google.cloud.bigquery

Error: Error: Jupyter server crashed. Unable to connect.
Error code from jupyter: 1

In [2]:
# cell has tag: "parameters", default if not provided
start_date = "2000-01-01"
end_date = "2020-01-01"

In [3]:
params = {
    "start_date": start_date, 
    "end_date": end_date
}
print("Including rides between {} and {}".format(start_date, end_date))

Including rides between 2000-01-01 and 2020-01-01

In [4]:
%%bigquery sf_stations --params $params
SELECT
    stations.station_id,
    stations.name,
    stations.lat,
    stations.lon,
    COUNT(*) as count
FROM
    `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` as trips
JOIN 
    `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` as stations 
ON 
    trips.start_station_id = stations.station_id
WHERE
    stations.lat BETWEEN 37.7 AND 38.5 AND 
    stations.lon BETWEEN -122.5 AND -122.35 AND
    trips.start_date BETWEEN TIMESTAMP( @start_date ) AND TIMESTAMP( @end_date )
GROUP BY
    stations.station_id, stations.name, stations.lat, stations.lon
ORDER By
    count DESC

## Top 10 Stations

In [5]:
top = sf_stations[['name','count']].head(10)
top.style.hide_index()

## Station Map